<nav class="o-secondary-navigation">
    <a href="marketing-online.html" class="o-secondary-navigation__link {{#ifeq active '1'}} is-active{{/ifeq}}">
        Marketing Online
    </a>
    <a href="mobile-marketing.html" class="o-secondary-navigation__link {{#ifeq active '2'}} is-active{{/ifeq}}">
        Mobile Marketing
    </a>
    <a href="desarrollo-de-apps.html" class="o-secondary-navigation__link {{#ifeq active '3'}} is-active{{/ifeq}}">
        Desarrollo Apps
    </a>
    <a href="desarrollo-web.html" class="o-secondary-navigation__link {{#ifeq active '4'}} is-active{{/ifeq}}">
        Desarrollo  Web
    </a>
    <a href="ux-ui.html" class="o-secondary-navigation__link {{#ifeq active '5'}} is-active{{/ifeq}}">
        UX/UI
    </a>
    <a href="web-performance-and-audits.html" class="o-secondary-navigation__link {{#ifeq active '6'}} is-active{{/ifeq}}">
        Web Performance and Audits
    </a>
    <a href="ab-testing.html" class="o-secondary-navigation__link {{#ifeq active '7'}} is-active{{/ifeq}}">
        AB Testing
    </a>
    <a href="social-media-management.html" class="o-secondary-navigation__link {{#ifeq active '8'}} is-active{{/ifeq}}">
        Social Media Management
    </a>
</nav>