<div class="o-modal o-modal--user" id="userModal">
    <div class="o-modal__outer">

        <div class="o-modal__inner">


            <div class="o-modal__content">
                <div class="o-modal__close">
                    <svg width="22px" height="22px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="cancel" fill="#FFFFFF">
                                <path d="M14.1,11.3 C13.9,11.1 13.9,10.8 14.1,10.6 L21.6,3.1 C21.8,2.9 21.9,2.6 21.9,2.4 C21.9,2.2 21.8,1.9 21.6,1.7 L20.2,0.3 C20,0.1 19.7,0 19.5,0 C19.2,0 19,0.1 18.8,0.3 L11.3,7.8 C11.1,8 10.8,8 10.6,7.8 L3.1,0.3 C2.9,0.1 2.6,0 2.4,0 C2.2,0 1.9,0.1 1.7,0.3 L0.3,1.7 C0.1,1.9 0,2.2 0,2.4 C0,2.6 0.1,2.9 0.3,3.1 L7.8,10.6 C8,10.8 8,11.1 7.8,11.3 L0.3,18.8 C0.1,19 0,19.3 0,19.5 C0,19.7 0.1,20 0.3,20.2 L1.7,21.6 C1.9,21.8 2.2,21.9 2.4,21.9 C2.6,21.9 2.9,21.8 3.1,21.6 L10.6,14.1 C10.8,13.9 11.1,13.9 11.3,14.1 L18.8,21.6 C19,21.8 19.3,21.9 19.5,21.9 C19.7,21.9 20,21.8 20.2,21.6 L21.6,20.2 C21.8,20 21.9,19.7 21.9,19.5 C21.9,19.3 21.8,19 21.6,18.8 L14.1,11.3 Z" id="Path"></path>
                            </g>
                        </g>
                    </svg>
                </div>

                <div class="o-user-modal">



                    <div id="userModalSlider" class="js-slick" data-slick='{"items": 1,"arrows": false,"draggable": true,"infinite": false,"fade":true,"adaptiveHeight": true}'>
                        <div class="o-user-modal__form o-user-modal__form--login">
                            <div class="o-user-modal__heading">
                                <div class="o-user-modal__logo">
                                    {{> a-logo}}
                                </div>
                                <div class="o-user-modal__title">Iniciar sesión</div>
                                <div class="o-user-modal__text">Si ya eres usuario introduce tu correo electrónico y
                                    contraseña.
                                </div>
                            </div>
                            <div class="o-user-modal__content">
                                <form method="post" name="login">
                                    <div class="m-field">
                                        <input class="a-input" type="email" placeholder="Introduce tu email"
                                               name="emailLog" id="emailLog"/>
                                        <label class="m-field__label" for="emailLog">Email</label>
                                    </div>
                                    <div class="m-field">
                                        <input class="a-input" type="password" placeholder="Introduce tu password"
                                               name="passwordLog" id="passwordLog"/>
                                        <label class="m-field__label" for="passwordLog">Password</label>
                                    </div>

                                    <a class="a-button a-button--submit a-button--berlin">Iniciar Sesión</a>


                                </form>
                            </div>
                            <div class="o-user-modal__footer">
                                <a class="o-user-modal__forgotten" data-step="2" href="#">¿Has olvidado tu contraseña?</a>
                                <a class="a-separator"></a>
                                <div class="o-user-modal__register">¿No tienes cuenta?<a href="#" data-step="1"> Regístrate</a></div>
                            </div>
                        </div>
                        <div class="o-user-modal__form o-user-modal__form--register">
                            <div class="o-user-modal__heading">
                                <div class="o-user-modal__logo">
                                    {{> a-logo}}
                                </div>
                                <div class="o-user-modal__title">Registro de usuario</div>
                                <div class="o-user-modal__text">Si ya eres usuario introduce tu correo electrónico y
                                    contraseña.
                                </div>
                            </div>
                            <div class="o-user-modal__content">
                                <form method="post" name="register">
                                    <div class="m-field">
                                        <input class="a-input" type="email" placeholder="Introduce tu email"
                                               name="emailReg" id="emailReg"/>
                                        <label class="m-field__label" for="emailReg">Email</label>
                                    </div>
                                    <div class="m-field">
                                        <input class="a-input" type="password" placeholder="Introduce tu password"
                                               name="passwordReg" id="passwordReg"/>
                                        <label class="m-field__label" for="passwordReg">Password</label>
                                    </div>

                                    <a class="a-button a-button--submit a-button--berlin">Continuar</a>


                                </form>
                            </div>
                            <div class="o-user-modal__footer">
                                <a class="o-user-modal__forgotten" data-step="0" href="#">Iniciar sesión</a>
                                <a class="a-separator"></a>
                            </div>
                        </div>

                        <div class="o-user-modal__form o-user-modal__form--recover">
                            <div class="o-user-modal__heading">
                                <div class="o-user-modal__logo">
                                    {{> a-logo}}
                                </div>
                                <div class="o-user-modal__title">Recuperar contraseña</div>
                                <div class="o-user-modal__text">Si ya eres usuario introduce tu correo electrónico y
                                    te enviaremos la contraseña a tu email.
                                </div>
                            </div>
                            <div class="o-user-modal__content">
                                <form method="post" name="recover">
                                    <div class="m-field">
                                        <input class="a-input" type="email" placeholder="Introduce tu email"
                                               name="emailRecover" id="emailRecover"/>
                                        <label class="m-field__label" for="emailRecover">Email</label>
                                    </div>
                                    <a class="a-button a-button--submit a-button--berlin">Enviar</a>


                                </form>
                            </div>
                        </div>

                    </div>



                </div>


            </div>

        </div>
    </div>
</div>