@mixin aspectRatio($width, $height, $simple:false) {
  @if $simple != true {
    position: relative;
  }

  &::before {
    min-height: 1px;
    @if $simple == true {
      padding-top: ($height / $width) * 100%;
    }
    @else {
      padding-top: ($height / $width) * 100%;
      display: block;
      content: "";
      width: 100%;
    }
  }

  > iframe,
  > img {
    @if $simple != true {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }
}