.o-cities{
  min-width: 0;
  width: 100%;
  margin-bottom: 60px;
  @media (min-width: 481px){

  }
  .slick-slide{
    padding: 0 8px;
  }
  &__item{

  }
  .m-media-card{

    margin: 0;
  }
  .slick-list{
    @media (max-width: 480px){
      padding-left: 0 !important;
    }
  }
  .slick-slide{
    @media (max-width: 480px){
      //margin-right: 16px;
    }
  }
}