
.o-header {
  z-index: 103;
  height: 60px;
  width: 100%;
  padding: 5px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid #979797;
  @media (max-width: 1023px){
    height: 75px;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
  }
  @media (max-width: 480px){
    padding: 15px;
    align-items: flex-start;
  }

  &__logo{
    display: block;
    line-height: 0;
    position: relative;
    cursor: pointer;
    &-icon{
      position: absolute;
      bottom : -20px;
      left: 0;
      right: 0;
      margin: 0 auto;
      font-weight: 700;
      color: #333;
      transition: .3s transform;
      will-change: transform;
    }
    &--desktop{
      @media (max-width: 1023px){
        display: none;
      }
    }
    &--mobile{
      @media (min-width: 1024px){
        display: none;
      }
    }
  }

  &__nav {
    padding-left: 100px;
    @media (max-width: $screen-m-max) {
      &:not(.o-header__nav--mobile){
        display: none;
      }
    }
    > ul {
      display: flex;
      align-items: center;
      height: 100%;
    }
    &-item {
      &:not(:last-child) {
        margin-right: 50px;
      }
    }



    &-link {
      color: #000;
      text-decoration: none;
      font-size: 14px;
      font-family: $font-bold;
      line-height: 17px;
      transition: .3s color;
      position: relative;
      &::before,
      &::after{
        content: "";
        width: 0;
        position: absolute;
        height: 3px;
        background: $color-secondary;
        bottom: -10px;
        transition: .3s width;
      }
      &::before{
        right: 0;
      }
      &::after{
        left: 0;
      }
      &:hover{
        color: $color-secondary;
      }
      &.is-active{
        color: $color-secondary;
        &::before,
        &::after{
          width: 50%;
        }
      }
    }
    &--mobile {
      position: fixed;
      top: 75px;
      width: 100%;
      left: 0;
      height: 100%;
      overflow-y: auto;
      background-color: $color-black;
      transform: translateX(-100%);
      transition: .6s transform,.6s opacity;
      will-change: transform, opacity;
      padding: 0;
      opacity: 0;
      z-index: 2;
      pointer-events: none;
      .menu-is-open & {
        transform: translateX(0);
        pointer-events: all;
        opacity: 1;
      }
    }
  }
  &__ham {
    @media (min-width: $screen-l-min) {
      display: none;
    }
  }
  .menu-is-open & {

  }


  &--inv{
    background: #F2F4F7;
    .o-header__nav-link{
      color: #000;
      &.is-active{
        &::before,
        &::after{
          background-color: #FF4343;
        }
      }
      &:hover{
        color: #FF4343;
      }
    }
  }

}
.menu-is-open{
  overflow: hidden;
  left: 0;
  -webkit-overflow-scrolling: touch;
  top: 0;
  width: 100%;
  //position: fixed;
  .o-header__logo-icon{
    transform: rotate(-90deg);
    bottom: 0;
  }
}

