.o-nav-mobile{
  padding: 40px 30px 40px;
  display: flex;
  flex-direction: column;
  height: calc(100% - 60px);
  overflow-y: auto;
  background: #F9F4FF;
  @media (max-width: 480px){
      padding: 20px 15px 20px;
  }

  &__logo{
    margin-bottom: 30px;
  }

  &__close{
    color: $color-white;
    font-size: 15px;
    text-transform: uppercase;
    top: 10px;
    right: 20px;
    position: absolute;
    cursor: pointer;
    font-family: $font-bold;
  }
  &__links{
    margin: 30px 0 0;
    padding: 0 40px;
    @media (max-width: 480px){
      margin: 0;
      padding: 0 20px;
    }
    &-item{
      margin-bottom: 30px;
      display: block;
      @media (max-width: 480px){
        margin-top: 15px;
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  &__link{
    font-size: 16px;
    line-height: 24px;
    color: $color-black;
    text-transform: uppercase;
    font-family: $font-bold;
    margin-bottom: 10px;
    text-decoration: none;
    @media (max-width: 480px){
      font-size: 14px;
      line-height: 18px;
    }
    &.is-active{

    }
    &:last-child{
      margin-bottom: 0;
    }
  }

  &__social{
    padding: 0 40px;
    @media (max-width: 480px){
      padding: 0 20px;
    }
    &-title{
      font-size: 16px;
      line-height: 24px;
      color: $color-black;
      text-transform: uppercase;
      font-family: $font-bold;
      margin-bottom: 30px;
      text-decoration: none;
      @media (max-width: 480px){
        font-size: 14px;
        line-height: 18px;
      }
    }
    .a-separator{
      margin: 35px 0;
    }
    &-link{
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      display: block ;
      color: $color-black;
      text-decoration: none;
      margin-bottom: 30px;
      @media (max-width: 480px){
        margin-bottom: 15px;
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
  }

}