.o-news-list{
  margin-left: -16px;
  display: flex;
  padding-bottom: 30px;

  @media (max-width: 480px){
    flex-wrap: wrap;
  }
  .m-card{
    margin-left: 16px;
    width: 50%;
    @media (max-width: 480px){
      width: 100%;
      margin-bottom: 16px;
    }
    &__media{
      @include aspectRatio(460,200);
    }
  }
}