.o-user-modal{



  &__heading{
    margin-bottom: 25px;
  }
  &__logo{
    margin-bottom: 20px;
  }
  &__title{
    font-size: 18px;
    font-family: $font-bold;
    margin-bottom: 4px;
  }
  &__text{

  }

  .a-button{
    &--submit{
      display: block;
      margin: 30px auto 0;
      width: 60%;
    }
  }

  &__footer{
    text-align: center;
    margin-top: 35px;
    .a-separator{
      margin: 15px 0;
    }
    a{
      transition: .4s color;
      text-decoration: none;
      &:hover{
        color: $color-secondary;
      }
    }
  }

  &__forgotten{
    font-size: 14px;
    font-family: $font-medium;
    line-height: 16px;
    color: #2F2F2F;
  }
  &__register{
    font-size: 14px;
    line-height: 17px;
    a{
      color: #2F2F2F;
      font-size: 14px;
      font-family: $font-medium;
      line-height: 17px;
    }
  }

}

