<footer class="o-footer">
    <div class="o-footer__logo">
        {{> a-logo-color}}
    </div>
    <div class="o-footer__content">
        <div class="o-footer__links">
            <div class="o-footer__col o-footer__col--nav">
                <div class="o-footer__title">Ciudades principales</div>
                <div class="o-footer__box">
                    <a href="#" class="o-footer__link">
                        Barcelona
                    </a>
                    <a href="#" target="_blank" class="o-footer__link">
                        Madrid
                    </a>
                    <a href="#" target="_blank" class="o-footer__link">
                        París
                    </a>
                    <a href="#" target="_blank" class="o-footer__link">
                        Londres
                    </a>
                    <a href="#" target="_blank" class="o-footer__link">
                        Nueva York
                    </a>
                    <a href="#" target="_blank" class="o-footer__link">
                        San Francisco
                    </a>
                </div>
            </div>
            <div class="o-footer__col o-footer__col--nav">
                <div class="o-footer__title">Reserva con Vunnie</div>
                <div class="o-footer__box">
                    <a href="#" class="o-footer__link">
                        Condiciones de reserva
                    </a>
                    <a href="#" class="o-footer__link">
                        Seguridad de pago
                    </a>
                    <a href="#" class="o-footer__link">
                        Seguridad de viaje
                    </a>
                    <a href="#" class="o-footer__link">
                        Atención al cliente
                    </a>
                </div>
            </div>
            <div class="o-footer__col o-footer__col--social">
                <div class="o-footer__title">Publica tu alojamiento</div>
                <div class="o-footer__box">
                    <a href="#" target="_blank" class="o-footer__link">
                        Como publicar tu alojamiento
                    </a>
                    <a href=#" target="_blank" class="o-footer__link">
                        Regularidad de pago
                    </a>
                    <a href="#" target="_blank" class="o-footer__link">
                        Seguro con huespedes
                    </a>
                </div>
            </div>
            <div class="o-footer__col o-footer__col--policy">
                <div class="o-footer__title">Condiciones</div>
                <div class="o-footer__box">
                    <a href="https://www.thepowermba.com/legal/" target="_blank" class="o-footer__link">
                        Condiciones de servicio
                    </a>
                    <a href="https://www.thepowermba.com/legal/" target="_blank" class="o-footer__link">
                        Condiciones de uso
                    </a>
                    <a href="https://www.thepowermba.com/legal/" target="_blank" class="o-footer__link">
                        Política de privacidad
                    </a>
                    <a href="https://www.thepowermba.com/privacidad/" target="_blank" class="o-footer__link">
                        Protección de datos
                    </a>
                    <a href="https://www.thepowermba.com/legal/" target="_blank" class="o-footer__link">
                        Política de cookies
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="o-footer__copy">
        <div class="a-separator"></div>
        <div class="o-footer__copy-inner">
            <div class="o-footer__copy-text">
                Vunnie · Copyright 2018
            </div>
            <div class="o-footer__copy-claim">
                A Vunnie Worldwide Brand | Travel with love
            </div>
        </div>
    </div>
</footer>
