<header class="o-header {{#if header}}o-header--inv {{/if}}">
    <!-- Logo -->

    <a href="./{{root}}" class="o-header__logo">
        {{#if header}}
            {{> a-logo-color}}
            {{else}}
            {{> a-logo}}
        {{/if}}

    </a>

    <!--  Desktop Navigation -->
    <nav class="o-header__nav">
        <ul>
            <li class="o-header__nav-item">
                <a target="_blank" href="#" class="o-header__nav-link">Ayuda</a>
            </li>
            <li class="o-header__nav-item">
                <a href="{{root}}programa.html" data-step="1" class="o-header__nav-link js-modal" data-modal="#userModal">Registro</a>
            </li>
            <li class="o-header__nav-item">
                <a href="{{root}}programa.html" data-step="0" class="o-header__nav-link js-modal" data-modal="#userModal">Iniciar sesión</a>
            </li>
        </ul>
    </nav>
    <!-- Mobile Ham -->
    <div class="o-header__ham">
        {{> a-ham toggle="body" toggle-class="menu-is-open"}}
    </div>
    <!-- Mobile Navigation -->
    <div class="o-header__nav o-header__nav--mobile">
        {{> o-nav-mobile}}
    </div>
</header>