<header class="o-header">

    <!-- Logo -->
    <a href="./{{root}}" class="o-header__logo o-header__logo--desktop">
        {{> a-logo}}
    </a>
    <a class="o-header__logo o-header__logo--mobile js-toggle" data-toggle="body" data-toggle-class="menu-is-open">
        {{> a-logo-simple}}
        <div class="o-header__logo-icon a-icon a-icon-chevron-down"></div>
    </a>


    <!--  Desktop Navigation -->
    <nav class="o-header__nav">
        <ul>
            <li class="o-header__nav-item">
                <a target="_blank" href="#" class="o-header__nav-link">Ayuda</a>
            </li>
            <li class="o-header__nav-item">
                <a href="{{root}}programa.html" data-step="1" class="o-header__nav-link js-modal" data-modal="#userModal">Registro</a>
            </li>
            <li class="o-header__nav-item">
                <a href="{{root}}programa.html" data-step="0" class="o-header__nav-link js-modal" data-modal="#userModal">Iniciar sesión</a>
            </li>
        </ul>
    </nav>

    <!-- Mobile Navigation -->
    <div class="o-header__nav o-header__nav--mobile">
        {{> o-nav-mobile}}
    </div>
</header>