@import "../../../vars/glob";

.l{
  max-width: 100%;


  &--has-bg{
    padding-top: 80px;
    padding-bottom: 80px;
    background: #F9F4FF;
  }

  &--fit{
    max-width: $l__container-max-width;
    padding-left: $l__container-left-padding;
    padding-right: $l__container-right-padding;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 899px){
      padding-left: 25px;
      padding-right: 25px;
    }
    @media (max-width: 480px){
      padding-left: 15px;
      padding-right: 15px;
    }

    &.l--stage-padding{
      @media (max-width: 480px){
        padding-right: 0;
      }
    }

  }



  &-main{
    &__main{
      padding-top: 60px; // Header height
    }
  }
}

