.ui-button{
  &--orion{
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition: border-color 0.4s, color 0.4s;
    color: #37474f;
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #37474f;
      z-index: -1;
      opacity: 0;
      transform: scale3d(0.7, 1, 1);
      transition: transform 0.4s, opacity 0.4s;
      transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    }
    &:hover{
      color: #fff;
      &::before{
        transform: translate3d(0, 0, 0);
        opacity: 1;
      }
    }
  }
}