
<article class="m-card">
    {{#each this.attr.[0].media}}
        {{> a-picture this}}
    {{/each}}
    <div class="m-card__content">
        {{#if this.attr.[0].place}}
            <span class="m-card__place a-typo-medium a-color-secondary a-typo-einstein u-uppercase">
                {{this.attr.[0].place}}
            </span>
        {{/if}}
        {{#if this.attr.[0].title}}
            <h3 class="m-card__title a-typo-bold">
                <a href="apartment-list.html">
                    {{this.attr.[0].title}}
                </a>
            </h3>
        {{/if}}
        {{#if this.attr.[0].conditions}}
            <span class="m-card__conditions a-typo-einstein">
            {{this.attr.[0].conditions}}
        </span>
        {{/if}}
    </div>
</article>