<article class="m-card">

    <div class="m-card__slider">
        <a class="m-card__slider-url" href="{{url}}"></a>
        <div class="js-slick slick-absolute-dots"
             data-slick='{"items" : 1,"arrow": true,"responsive": [{"breakpoint":480,"settings":{"arrows": false,"dots":true}}]}'>
            {{#each this.attr.[0].media}}
                {{#repeat 2}}
                    {{> a-picture this}}
                {{/repeat}}
            {{/each}}
        </div>
    </div>


    <a class="m-card__content" href="{{url}}">
        {{#if this.attr.[0].place}}
            <span class="m-card__place a-typo-medium a-color-secondary a-typo-einstein u-uppercase">
                {{this.attr.[0].place}}
            </span>
        {{/if}}
        {{#if this.attr.[0].title}}
            <h3 class="m-card__title a-typo-bold">

                {{this.attr.[0].title}}

            </h3>
        {{/if}}
        {{#if this.attr.[0].conditions}}
            <span class="m-card__conditions a-typo-einstein">
                {{this.attr.[0].conditions}}
            </span>
        {{/if}}
    </a>

</article>