<div class="m-cookies">
    <div class="m-cookies__content">
        <div class="m-cookies__title">
            Política de privacidad y cookies
        </div>
        <div class="m-cookies__text">
            Se advierte al Usuario que esta página Web utiliza cookies. Las cookies son pequeños ficheros de datos que se generan en el ordenador del Usuario y que permiten que sea el propio Usuario el que almacene la información que genera su actividad en la red. Las cookies permiten a una página web, entre otras cosas, almacenar y recuperar información sobre los hábitos de navegación de un Usuario o de su equipo y, dependiendo de la información que contengan y de la forma en que utilice su equipo, pueden utilizarse para reconocer al Usuario.
        </div>
        <div class="m-cookies__btn">
            Cerrar
        </div>
    </div>
</div>