<nav class="o-navigation js-fixed-nav js-limit" id="fixed-navigation" data-custom-class="is-hidden">
    <ul class="o-navigation__inner">
        <li class="o-navigation__item">
            <a href="#section-1" class="o-navigation__link a-link">Ancla 1</a>
        </li>
        <li class="o-navigation__item">
            <a href="#section-2" class="o-navigation__link a-link">Ancla 2</a>
        </li>
        <li class="o-navigation__item">
            <a href="#section-3" class="o-navigation__link a-link">Ancla 3</a>
        </li>
    </ul>
</nav>


<section data-navigation="1" id="section-1" style="height: 300px;">
    Section 1
</section>
<section data-navigation="2" id="section-2" style="height: 300px;">>
    Section 2
</section>
<section data-navigation="3" id="section-3" style="height: 300px;">>
    Section 3
</section>