<div class="o-nav-mobile">
    <a class="o-nav-mobile__close js-toggle" data-toggle="body" data-toggle-class="menu-is-open">Cerrar</a>

    <div class="o-nav-mobile__logo">

    </div>

    <div class="o-nav-mobile__separator a-separator"></div>

    <ul class="o-nav-mobile__links">
        <li class="o-nav-mobile__links-item">
            <a target="_blank" href="#" class="o-nav-mobile__link">Curso Gratis</a>
        </li>
        <li class="o-nav-mobile__links-item">
            <a href="{{root}}programa.html" class="o-nav-mobile__link">Ver programa</a>
        </li>
        <li class="o-nav-mobile__links-item">
            <a target="_blank" href="https://www.thepowermba.com/faq/" class="o-nav-mobile__link">Ayuda</a>
        </li>
    </ul>

    <div class="o-nav-mobile__separator a-separator"></div>
    <ul class="o-nav-mobile__links">
        <li class="o-nav-mobile__links-item">
            <a target="_blank" href="#" class="o-nav-mobile__link">
                Apúntate
            </a>
        </li>
    </ul>
    <div class="o-nav-mobile__separator a-separator"></div>
    <div class="o-nav-mobile__social">
        <a class="o-nav-mobile__social-link">
            Facebook
        </a>
        <a class="o-nav-mobile__social-link">
            Instagram
        </a>
        <a class="o-nav-mobile__social-link">
            Youtube
        </a>
    </div>
    <div class="o-nav-mobile__separator a-separator"></div>

</div>
