<div class="o-nav-mobile">
    <ul class="o-nav-mobile__links">
        <li class="o-nav-mobile__links-item">
            <a target="_blank" href="#" class="o-nav-mobile__link">Mis alojamientos</a>
        </li>
        <li class="o-nav-mobile__links-item">
            <a target="_blank" href="#" class="o-nav-mobile__link">Mis viajes</a>
        </li>
        <li class="o-nav-mobile__links-item">
            <a href="#" class="o-nav-mobile__link js-modal" data-modal="#userModal" data-step="0">Iniciar sesión</a>
        </li>
        <li class="o-nav-mobile__links-item">
            <a target="_blank" href="#" class="o-nav-mobile__link">Ayuda</a>
        </li>
    </ul>



    <div class="o-nav-mobile__social">
        <div class="a-separator"></div>
        <div class="o-nav-mobile__social-title">Redes sociales</div>
        <a href="#" target="_blank" class="o-nav-mobile__social-link">Facebook</a>
        <a href="#" target="_blank" class="o-nav-mobile__social-link">Instagram</a>
        <a href="#" target="_blank" class="o-nav-mobile__social-link">Twitter</a>
    </div>


</div>
