<div class="o-nav-mobile">
    <a class="o-nav-mobile__close js-toggle" data-toggle="body" data-toggle-class="menu-is-open">Cerrar</a>

    <div class="o-nav-mobile__logo">
        {{> a-logo}}
    </div>
    <ul class="o-nav-mobile__links">
        <li class="o-nav-mobile__links-item">
            <a target="_blank" href="#" class="o-nav-mobile__link">Ayuda</a>
        </li>
        <li class="o-nav-mobile__links-item">
            <a href="#" class="o-nav-mobile__link js-modal" data-modal="#userModal" data-step="0">Iniciar sesión</a>
        </li>
        <li class="o-nav-mobile__links-item">
            <a target="_blank" href="#" class="o-nav-mobile__link js-modal" data-modal="#userModal" data-step="1">Registro</a>
        </li>
    </ul>



    <div class="o-nav-mobile__social">
        <div class="a-separator"></div>
        <a href="#" target="_blank" class="o-nav-mobile__social-link">Facebook</a>
        <a href="#" target="_blank" class="o-nav-mobile__social-link">Instagram</a>
        <a href="#" target="_blank" class="o-nav-mobile__social-link">Twitter</a>
    </div>


</div>
