<section class="o-itinerary u-mv-64">
    <div class="o-itinerary__heading">
        <div class="m-heading m-heading--center">
            <h3 class="m-heading__title a-typo-pascal u-color-mustard">Itinerario</h3>
            <h6 class="m-heading__subtitle">Nuestro wäytrip favorito</h6>
        </div>
    </div>

    <div class="o-itinerary__content">
        <div class="o-itinerary__timeline"></div>

        <div class="o-itinerary__item">
            <div class="o-itinerary__bullet u-bg-mustard"></div>
            Contenido itinerario
        </div>

        <div class="o-itinerary__item o-itinerary__item--inv">
            <div class="o-itinerary__bullet u-bg-blue-electric"></div>
            Contenido itinerario
        </div>

    </div>


</section>