<div class="o-cities slick-rounded-arrows js-slick"
     data-slick='{"slidesToShow": 5,"dots": false,"arrows": true,"responsive": [{"breakpoint":480,"settings":{"slidesToShow": 2,"centerMode": true,"arrows": false}},{"breakpoint":768,"settings":{"slidesToShow": 3}},{"breakpoint":992,"settings":{"slidesToShow": 4}}]}'>

    <a href="apartment-list.html" class="m-media-card">

        {{> a-picture
                class="m-media-card__media"
                overlay-gradient="true"
                url="assets/media/images/home/barcelona-city.jpg"
        }}

        <div class="m-media-card__content">
            <h3 class="a-typo-bold">
                Barcelona
            </h3>
            <span class="a-typo-curie a-typo-medium">
                    85€ / precio medio<br> por noche
                </span>
        </div>
    </a>

    <a href="apartment-list.html" class="m-media-card">

        {{> a-picture
                class="m-media-card__media"
                overlay-gradient="true"
                url="assets/media/images/home/madrid-city.jpg"
        }}
        <div class="m-media-card__content">
            <h3 class="a-typo-bold">
                Madrid
            </h3>
            <span class="a-typo-curie a-typo-medium">
                    64€ / precio medios<br> por noche
                </span>
        </div>
    </a>

    <a href="apartment-list.html" class="m-media-card">
        {{> a-picture
                class="m-media-card__media"
                overlay-gradient="true"
                url="assets/media/images/home/paris-city.jpg"
        }}
        <div class="m-media-card__content">
            <h3 class="a-typo-bold">
                Paris
            </h3>
            <span class="a-typo-curie  a-typo-medium">
                    93€ / precio medio<br> por noche
                </span>
        </div>
    </a>

    <a href="apartment-list.html" class="m-media-card">
        {{> a-picture
                class="m-media-card__media"
                overlay-gradient="true"
                url="assets/media/images/home/londres-city.jpg"
        }}
        <div class="m-media-card__content">
            <h3 class="a-typo-bold">
                Londres
            </h3>
            <span class="a-typo-curie  a-typo-medium">
                    112€ / precio medio<br> por noche
                </span>
        </div>
    </a>

    <a href="apartment-list.html" class="m-media-card">
        {{> a-picture
                class="m-media-card__media"
                overlay-gradient="true"
                url="assets/media/images/home/nueva-york-city.jpg"
        }}
        <div class="m-media-card__content">
            <h3 class="a-typo-bold">
                Nueva York
            </h3>
            <span class="a-typo-curie  a-typo-medium">
                    73€ / precio medio<br> por noche
                </span>
        </div>
    </a>

    <a href="apartment-list.html" class="m-media-card">
        {{> a-picture
                class="m-media-card__media"
                overlay-gradient="true"
                url="assets/media/images/home/nueva-york-city.jpg"
        }}
        <div class="m-media-card__content">
            <h3 class="a-typo-bold">
                Nueva York
            </h3>
            <span class="a-typo-curie  a-typo-medium">
                    73€ / precio medio<br> por noche
            </span>
        </div>
    </a>


</div>