<div class="o-cities slick-absolute-dots js-slick"
     data-slick='{"slidesToShow": 5,"dots": true,"arrows": false,"responsive": [{"breakpoint":480,"settings":{"slidesToShow": 1,"centerMode": true}},{"breakpoint":768,"settings":{"slidesToShow": 3}},{"breakpoint":992,"settings":{"slidesToShow": 4}}]}'>
    <div>
        <a href="apartment-list.html" class="m-media-card">

            {{> a-picture
                    class="m-media-card__media"
                    overlay="true"
                    url="assets/media/images/home/barcelona-city.jpg"
            }}

            <div class="m-media-card__content">
                <h3 class="a-typo-bold u-mb-4">
                    Barcelona
                </h3>
                <span class="a-typo-einstein">
                    85€ / precio medio<br> por noche
                </span>
            </div>
        </a>
    </div>
    <div>
        <a href="apartment-list.html" class="m-media-card">

            {{> a-picture
                    class="m-media-card__media"
                    overlay="true"
                    url="assets/media/images/home/madrid-city.jpg"
            }}
            <div class="m-media-card__content">
                <h3 class="a-typo-bold u-mb-4">
                    Madrid
                </h3>
                <span class="a-typo-einstein a-typo-medium">
                    64€ / precio medio<br> por noche
                </span>
            </div>
        </a>
    </div>
    <div>
        <a href="apartment-list.html" class="m-media-card">
            {{> a-picture
                    class="m-media-card__media"
                    overlay="true"
                    url="assets/media/images/home/paris-city.jpg"
            }}
            <div class="m-media-card__content">
                <h3 class="a-typo-bold u-mb-4">
                    Paris
                </h3>
                <span class="a-typo-einstein  a-typo-medium">
                    93€ / precio medio<br> por noche
                </span>
            </div>
        </a>
    </div>
    <div>
        <a href="apartment-list.html" class="m-media-card">
            {{> a-picture
                    class="m-media-card__media"
                    overlay="true"
                    url="assets/media/images/home/londres-city.jpg"
            }}
            <div class="m-media-card__content">
                <h3 class="a-typo-bold u-mb-4">
                    Londres
                </h3>
                <span class="a-typo-einstein  a-typo-medium">
                    112€ / precio medio<br> por noche
                </span>
            </div>
        </a>
    </div>
    <div>
        <a href="apartment-list.html" class="m-media-card">
            {{> a-picture
                    class="m-media-card__media"
                    overlay="true"
                    url="assets/media/images/home/nueva-york-city.jpg"
            }}
            <div class="m-media-card__content">
                <h3 class="a-typo-bold u-mb-4">
                    Nueva York
                </h3>
                <span class="a-typo-einstein  a-typo-medium">
                    73€ / precio medio<br> por noche
                </span>
            </div>
        </a>
    </div>
    <div>
        <a href="apartment-list.html" class="m-media-card">
            {{> a-picture
                    class="m-media-card__media"
                    overlay="true"
                    url="assets/media/images/home/nueva-york-city.jpg"
            }}
            <div class="m-media-card__content">
                <h3 class="a-typo-bold u-mb-4">
                    Nueva York
                </h3>
                <span class="a-typo-einstein  a-typo-medium">
                    73€ / precio medio<br> por noche
                </span>
            </div>
        </a>
    </div>

</div>