<section class="o-hero">
    <picture class="o-hero__media">
        <!--<source data-srcset="{{root}}assets/media/images/home/home-hero-image.webp" type="image/webp">-->
        <img class="lazyload" data-src="{{root}}assets/media/images/home/home-hero-image.jpg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"/>
    </picture>
    <div class="o-hero__content">
        <span class="o-hero__claim">
            Viaja y siéntete como en casa
        </span>
        <h1 class="o-hero__title">
            Reserva apartamentos y casas rurales <br>por todo el mundo
        </h1>
        <div class="o-hero__searcher">
            {{> o-searcher}}
        </div>
    </div>
</section>