<div class="o-searcher {{class}}">
    <form method="post" name="searcher" id="searcher" onsubmit="return false;">
        <div class="o-searcher__row">
            {{#ifeq type "simple"}}
            {{else}}
                <div class="o-searcher__field o-searcher__field--destination">
                    <input id="searchBox"
                           autocomplete="off"
                           data-validation="string"
                           required="true"
                           class="a-input-placeholder search-field"
                           type="text"
                           data-error="Seleccione un destino"
                           placeholder="¿Adónde vas?"/>
                    <ul id="searchResults" class="term-list u-hidden"></ul>
                </div>
            {{/ifeq}}

            <div class="o-searcher__field o-searcher__field--date">
                <input class="a-input-placeholder" type="text" name="dates" readonly/>
                <div class="o-searcher__icon">
                    <svg width="14px" height="8px" viewBox="0 0 14 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Symbol" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="01-Fragments-/-Icons-/-32px-/-Chevron-down-/-Dark" transform="translate(-9.000000, -12.000000)" fill="#979797">
                                <g id="chevron-down" transform="translate(9.000000, 12.000000)">
                                    <path d="M7,5.58578644 L12.2928932,0.292893219 C12.6834175,-0.0976310729 13.3165825,-0.0976310729 13.7071068,0.292893219 C14.0976311,0.683417511 14.0976311,1.31658249 13.7071068,1.70710678 L7.70710678,7.70710678 C7.31658249,8.09763107 6.68341751,8.09763107 6.29289322,7.70710678 L0.292893219,1.70710678 C-0.0976310729,1.31658249 -0.0976310729,0.683417511 0.292893219,0.292893219 C0.683417511,-0.0976310729 1.31658249,-0.0976310729 1.70710678,0.292893219 L7,5.58578644 Z" id="Shape"></path>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
            </div>


            <div class="o-searcher__field o-searcher__field--lodging">
                <input class="a-input-placeholder" type="text" name="lodging" placeholder="Huéspedes" readonly/>
                <div class="o-searcher__icon">
                    <svg width="14px" height="8px" viewBox="0 0 14 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Symbol" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="01-Fragments-/-Icons-/-32px-/-Chevron-down-/-Dark" transform="translate(-9.000000, -12.000000)" fill="#979797">
                                <g id="chevron-down" transform="translate(9.000000, 12.000000)">
                                    <path d="M7,5.58578644 L12.2928932,0.292893219 C12.6834175,-0.0976310729 13.3165825,-0.0976310729 13.7071068,0.292893219 C14.0976311,0.683417511 14.0976311,1.31658249 13.7071068,1.70710678 L7.70710678,7.70710678 C7.31658249,8.09763107 6.68341751,8.09763107 6.29289322,7.70710678 L0.292893219,1.70710678 C-0.0976310729,1.31658249 -0.0976310729,0.683417511 0.292893219,0.292893219 C0.683417511,-0.0976310729 1.31658249,-0.0976310729 1.70710678,0.292893219 L7,5.58578644 Z" id="Shape"></path>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
                {{> o-searcher__popover--lodging}}
            </div>

            <div class="o-searcher__field o-searcher__field--button">
                {{#ifeq type "simple"}}
                    <input type="submit" class="a-button a-button--oslo" value="Comprobar disponibilidad"/>
                {{else}}
                    <input type="submit" class="a-button a-button--moskva" value="Buscar"/>
                {{/ifeq}}
            </div>
        </div>
    </form>

</div>