<div class="o-searcher">
    <form method="post" name="searcher" id="searcher">
        <div class="o-searcher__row">
            <div class="o-searcher__field o-searcher__field--destination">
                <input class="a-input-placeholder" type="text" placeholder="¿Adónde vas?"/>
            </div>
            <div class="o-searcher__field o-searcher__field--dates">
                <input class="a-input-placeholder" type="text" placeholder="Elige una fecha"/>
            </div>
            <div class="o-searcher__field o-searcher__field--lodging">
                <input class="a-input-placeholder" type="text" placeholder="Huespedes"/>
            </div>
            <div class="o-searcher__field o-searcher__field--button">
                <a class="a-button a-button--moskva">
                    Buscar
                </a>
            </div>
        </div>
    </form>

</div>