<div class="o-user-modal">
    <div id="userModalSlider" class="js-slick"
         data-slick='{"items": 1,"arrows": false,"draggable": true,"infinite": false,"fade":true,"adaptiveHeight": true}'>
        <div class="o-user-modal__form o-user-modal__form--login">
            <div class="o-user-modal__heading">
                <div class="o-user-modal__title">Bienvenido de nuevo a Vunnie</div>
            </div>

            <div class="o-user-modal__content">
                <div class="m-social-login">
                    <a class="m-social-login__btn">
                        <span class="m-social-login__icon a-icon a-icon-facebook"></span>
                        Inicia sesión con Facebook
                    </a>
                    <a class="m-social-login__btn">
                        <span class="m-social-login__icon a-icon a-icon-google"></span>
                        Inicia sesión con Google
                    </a>
                </div>

                <div class="m-login-spacer">
                    <div class="m-login-spacer__text">
                        <span>o inicia sesión con</span>
                    </div>
                </div>
                <form method="post" name="login" onsubmit="return false">
                    <div class="m-field m-field--has-icon">
                        <label class="m-field__label" for="emailLog">Dirección de email</label>
                        <input required class="a-input" type="email" placeholder="Introduce tu email"
                               name="emailLog" id="emailLog"/>
                        <div class="m-field__icon a-icon a-icon-email"></div>
                    </div>
                    <div class="m-field m-field--has-icon">
                        <label class="m-field__label" for="passwordLog">Contraseña</label>
                        <input required class="a-input" type="password" placeholder="Introduce tu password"
                               name="passwordLog" id="passwordLog"/>

                        <div class="m-field__icon a-icon a-icon-hide js-toggle-visibility" data-target="#passwordLog"></div>
                    </div>
                    <input type="submit" class="a-button a-button--submit a-button--moskva" value="Iniciar Sesión"/>
                </form>
            </div>
            <div class="o-user-modal__footer">
                <a class="o-user-modal__forgotten" data-step="2" href="#">¿Has olvidado tu
                    contraseña?</a>
                <a class="a-separator"></a>
                <div class="o-user-modal__register">¿No tienes cuenta?<a href="#" data-step="1">
                    Regístrate</a></div>
            </div>
        </div>
        <div class="o-user-modal__form o-user-modal__form--register">
            <div class="o-user-modal__heading">
                <div class="o-user-modal__title">Registro de usuario</div>
            </div>
            <div class="o-user-modal__content">
                <form method="post" name="register" onsubmit="return false">
                    <div class="m-field m-field--has-icon">
                        <label class="m-field__label" for="emailReg">Dirección de email</label>
                        <input data-error="Introduzca un email válido" data-validation="email" class="a-input"
                               type="email" placeholder="Introduce tu email"
                               required name="emailReg" id="emailReg"/>
                        <div class="m-field__icon a-icon a-icon-email"></div>

                    </div>
                    <div class="m-field  m-field--has-icon">
                        <label class="m-field__label" for="passwordReg">Contraseña</label>
                        <input data-error="Introduzca un password válido" required data-validation="password"
                               class="a-input" type="password" placeholder="Introduce tu password"
                               name="passwordReg" id="passwordReg"/>
                        <div class="m-field__icon a-icon a-icon-hide js-toggle-visibility" data-target="#passwordLog"></div>

                    </div>
                    <input type="submit" class="a-button a-button--submit a-button--moskva" value="Continuar"/>
                </form>
            </div>
            <div class="o-user-modal__footer">
                <a class="o-user-modal__forgotten" data-step="0" href="#">Iniciar sesión</a>
                <a class="a-separator"></a>
            </div>
        </div>
        <!-- Añadir segundo paso de la validacion -->
        <div class="o-user-modal__form o-user-modal__form--recover">
            <div class="o-user-modal__heading">
                <div class="o-user-modal__title">Recuperar contraseña</div>
            </div>
            <div class="o-user-modal__content">
                <form method="post" name="recover" onsubmit="return false">
                    <div class="m-field m-field--has-icon">
                        <label class="m-field__label" for="emailRecover">Dirección de email</label>
                        <input data-error="Introduzca un email válido" data-validation="email" class="a-input"
                               type="email" placeholder="Introduce tu email"
                               name="emailRecover" id="emailRecover" required/>
                        <div class="m-field__icon a-icon a-icon-email"></div>
                    </div>
                    <input type="submit" class="a-button a-button--submit a-button--moskva" value="Enviar"/>
                </form>
            </div>
        </div>
    </div>
</div>