.m-cookies{
  position: fixed;
  bottom: 0;
  padding: 45px 50px 25px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: $color-black;
  /* Rectangle: */
  background: #fff;
  will-change: opacity;
  z-index: 10;
  opacity: 0;
  transform: translateY(100%);
  pointer-events: none;
  align-items: center;
  @media (max-width: 480px){
    padding: 15px;
    flex-wrap: wrap;
  }

  &__content{
    @media (min-width: 481px){
      padding-right: 50px;
    }
    @media (max-width: 480px){
      width: 100%;
      margin-bottom: 16px;
    }
  }
  &__btn{
    font-size: 12px;
    text-transform: uppercase;
    color: #333;
    line-height: 16px;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
  }

  &__title{
    font-size: 20px;
    line-height: 26px;
    font-family: $font-bold;
    color: $color-secondary
  }
  &__text{
    font-size: 12px;
    line-height: 14px;
    color: #000;
  }
  &__link{
    color: $color-white;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
  .show-cookies &{
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
  }
}