.m-parallax{
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 4px;

  &:hover{
    &:after{
      opacity: 1;
    }

  }


  &__logo{
    margin-bottom: 32px;
    svg{
      width: 200px;
      height: 50px;
    }
    path{
      fill: #fff;
    }
  }

  &__button{
    max-width: 280px;
    margin: 0 auto;
  }

  &__media{
    height: 300px;
    img{
      transition: .6s transform;
      height: 100%;
      object-fit: cover;
      border-radius: 2px;
      width: 100%;
    }
  }
  &__content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    z-index: 1;
    text-align: center;
  }
  &__title{
    font-size: 50px;
    line-height: 60px;
    font-family: $font-bold;
    color: $color-white;
    transition: .3s color;
    @media (max-width: 767px){
      font-size: 36px;
      line-height: 46px;
    }
  }
  &__subtitle{
    font-family: $font-medium;
    font-size: 20px;
    line-height: 24px;
    color: $color-white;
    transition: .3s color;
  }
}