.m-social-login {
  display: flex;
  flex-direction: column;
  &__btn {
    width: 100%;
    color: $color-primary;
    background: #fff;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    font-family: $font-medium;
    position: relative;
    text-align: center;
    cursor: pointer;
    transition: .3s all;
    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      background: $color-primary;
      color: #fff;
      .m-social-login__icon {
        color: $color-white;
      }
    }
  }
  &__icon {
    left: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: $color-primary;
    font-size: 20px;
  }
}

.m-login-spacer {
  position: relative;
  text-align: center;
  margin: 20px 0;
  &__text {
    padding: 0 10px;
    &::before {
      content: "";
      width: 50%;
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      left: 0;
      height: 1px;
      background: #d8d8d8;
    }
    &::after {
      content: "";
      width: 50%;
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      right: 0;
      height: 1px;
      background: #d8d8d8;
    }
    span {
      padding: 0 15px;
      background: #F2F4F7;
      z-index: 1;
      position: relative;
    }
  }
}