.m-services{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  &__item{
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 10px;
  }
  &__icon{
    width: 35px;
    height: 35px;
    background-color: $color-grey;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__text{
    padding-left: 10px;
    font-size: 16px;
    line-height: 19px;
    font-family: $font-bold;
    color: $color-grey;
  }
}