<div class="m-services {{class}}">
    <div class="m-services__item">
        <div class="m-services__icon"></div>
        <div class="m-services__text">
            Parking
        </div>
    </div>
    <div class="m-services__item">
        <div class="m-services__icon"></div>
        <div class="m-services__text">
            Piscina
        </div>
    </div>
    <div class="m-services__item">
        <div class="m-services__icon"></div>
        <div class="m-services__text">
            Secador
        </div>
    </div>
    <div class="m-services__item">
        <div class="m-services__icon"></div>
        <div class="m-services__text">
            AC
        </div>
    </div>
    <div class="m-services__item">
        <div class="m-services__icon"></div>
        <div class="m-services__text">
            Cocina Equipada
        </div>
    </div>
    <div class="m-services__item">
        <div class="m-services__icon"></div>
        <div class="m-services__text">
            TV
        </div>
    </div>
    <div class="m-services__item">
        <div class="m-services__icon"></div>
        <div class="m-services__text">
            WiFi
        </div>
    </div>
    <div class="m-services__item">
        <div class="m-services__icon"></div>
        <div class="m-services__text">
            Horno
        </div>
    </div>
</div>