<div class="m-services {{class}}">
    <div class="m-services__item">
        <div class="m-services__icon a-icon a-icon-accessibility"></div>
        <div class="m-services__text">
            Accesibilidad
        </div>
    </div>
    <div class="m-services__item">
        <div class="m-services__icon a-icon a-icon-air-conditioner"></div>
        <div class="m-services__text">
            Aire Acondicionado
        </div>
    </div>
    <div class="m-services__item">
        <div class="m-services__icon a-icon a-icon-barbecue"></div>
        <div class="m-services__text">
            Barbacoa
        </div>
    </div>
    <div class="m-services__item">
        <div class="m-services__icon a-icon a-icon-bath"></div>
        <div class="m-services__text">
            Baño
        </div>
    </div>
    <div class="m-services__item">
        <div class="m-services__icon a-icon a-icon-calefaction"></div>
        <div class="m-services__text">
            Calefacción
        </div>
    </div>
    <div class="m-services__item">
        <div class="m-services__icon a-icon a-icon-closet"></div>
        <div class="m-services__text">
            Armario
        </div>
    </div>
    <div class="m-services__item">
        <div class="m-services__icon a-icon a-icon-coffe-maker"></div>
        <div class="m-services__text">
            Cafetera
        </div>
    </div>
    <div class="m-services__item">
        <div class="m-services__icon a-icon a-icon-dishwasher"></div>
        <div class="m-services__text">
            Lavavajillas
        </div>
    </div>
    <div class="m-services__item">
        <div class="m-services__icon a-icon a-icon-double-bed"></div>
        <div class="m-services__text">
            Cama Doble
        </div>
    </div>
    <div class="m-services__item">
        <div class="m-services__icon a-icon a-icon-dryer"></div>
        <div class="m-services__text">
            Secadora
        </div>
    </div>
    <div class="m-services__item">
        <div class="m-services__icon a-icon a-icon-equipped-kitchen"></div>
        <div class="m-services__text">
            Cocina Equipada
        </div>
    </div>
    <div class="m-services__item">
        <div class="m-services__icon a-icon a-icon-griddle"></div>
        <div class="m-services__text">
            Plancha
        </div>
    </div>
    <div class="m-services__item">
        <div class="m-services__icon a-icon a-icon-gym"></div>
        <div class="m-services__text">
            Gimnasio
        </div>
    </div>
    <div class="m-services__item">
        <div class="m-services__icon a-icon a-icon-lock"></div>
        <div class="m-services__text">
            Lock
        </div>
    </div>
    <div class="m-services__item">
        <div class="m-services__icon a-icon a-icon-microwave"></div>
        <div class="m-services__text">
            Microondas
        </div>
    </div>
    <div class="m-services__item">
        <div class="m-services__icon a-icon a-icon-no-parking"></div>
        <div class="m-services__text">
            Sin Parking
        </div>
    </div>
    <div class="m-services__item">
        <div class="m-services__icon a-icon a-icon-no-pets"></div>
        <div class="m-services__text">
            Sin Animales
        </div>
    </div>
    <div class="m-services__item">
        <div class="m-services__icon a-icon a-icon-no-smoking"></div>
        <div class="m-services__text">
            Prohibido fumar
        </div>
    </div>
    <div class="m-services__item">
        <div class="m-services__icon a-icon a-icon-oven"></div>
        <div class="m-services__text">
            Horno
        </div>
    </div>
    <div class="m-services__item">
        <div class="m-services__icon a-icon a-icon-parking"></div>
        <div class="m-services__text">
            Parking
        </div>
    </div>
    <div class="m-services__item">
        <div class="m-services__icon a-icon a-icon-pets"></div>
        <div class="m-services__text">
            Mascotas
        </div>
    </div>
    <div class="m-services__item">
        <div class="m-services__icon a-icon a-icon-pool"></div>
        <div class="m-services__text">
            Piscina
        </div>
    </div>
    <div class="m-services__item">
        <div class="m-services__icon a-icon a-icon-refrigerator"></div>
        <div class="m-services__text">
            Nevera
        </div>
    </div>
    <div class="m-services__item">
        <div class="m-services__icon a-icon a-icon-shower"></div>
        <div class="m-services__text">
            Ducha
        </div>
    </div>
    <div class="m-services__item">
        <div class="m-services__icon a-icon a-icon-single-bed"></div>
        <div class="m-services__text">
            Cama Individual
        </div>
    </div>
    <div class="m-services__item">
        <div class="m-services__icon a-icon a-icon-smoking"></div>
        <div class="m-services__text">
            Permitido fumar
        </div>
    </div>
    <div class="m-services__item">
        <div class="m-services__icon a-icon a-icon-terrace"></div>
        <div class="m-services__text">
            Terraza
        </div>
    </div>
    <div class="m-services__item">
        <div class="m-services__icon a-icon a-icon-towels"></div>
        <div class="m-services__text">
            Toallas
        </div>
    </div>
    <div class="m-services__item">
        <div class="m-services__icon a-icon a-icon-tv"></div>
        <div class="m-services__text">
            TV
        </div>
    </div>
    <div class="m-services__item">
        <div class="m-services__icon a-icon a-icon-unlock"></div>
        <div class="m-services__text">
            Unlock
        </div>
    </div>
    <div class="m-services__item">
        <div class="m-services__icon a-icon a-icon-washer"></div>
        <div class="m-services__text">
            Lavadora
        </div>
    </div>
    <div class="m-services__item">
        <div class="m-services__icon a-icon a-icon-wifi"></div>
        <div class="m-services__text">
            Wifi
        </div>
    </div>
</div>